ion-toolbar {
    --background: rgb(214, 244, 255);
}

.hero-image {
    border-radius: 30px; 
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-header {
    font-size: 15px;
}
  
.list-item {
    font-size: 15px;
}



